@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}